.App {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home {
  height: 550pt;
}

.home #home-title {
  padding-top: 30pt;
  padding-left: 30pt;
  color: white;
  font-size: 75pt;
}

.home .home-subtitle-container {
  background-color: #151515;
  width: 330pt;
  margin-left: 60pt;
  padding-left: 0pt;
  padding-right: 0pt;
  border-radius: 3pt;
}

.home .home-subtitle-container #home-subtitle {
  color: #FBFCD4;
  font-size: 18pt;
  padding-left: 10pt;
  padding-bottom: 3pt;
}

.home .home-caption {
  background-color: #151515;
  margin-left: 685pt;
  padding-right: 10pt;
  border-radius: 5pt;
}

.home #kusama-caption {
  text-align: right;
  color: #FBFCD4;
  font-size: 13pt;
}

.home .buttons {
  margin-left: 100pt;
  margin-top: 30pt;
  text-align: center;
  margin-right: 800pt;
}

.home .buttons a:hover {
  color: #FFDD03;
}

.home .buttons .btn {
  margin-top: 20pt;
  background-color: #0A0A0A;
  color: #FBFCD4;
  border-radius: 5pt;
}

#navyellow {
  background-color: #FBC403;
  color: #0A0A0A;
}

.artworks {
  background-color: #151515;
}

.artworks .sort-filter {
  text-align: center;
  height: 80pt;
}

.artworks .sort-filter a, .artworks .sort-filter .dropdown-basic {
  background-color: #FBC403;
  color: #151515;
  margin: 10pt;
  border-radius: 3pt;
}

.artworks .sort-filter a:hover {
  color: #808080;
}

.artworks .sort-filter .dropdown {
  display: inline-block;
}

.card {
  background-color: #FBC403;
  color: #151515;
  border-radius: 5pt;
}

.card h4 {
  font-size: 20pt;
  padding-bottom: 10pt;
}

.card h5 {
  font-size: 15pt;
  font-weight: bold;
}

.card a:hover {
  color: #808080;
}

.card img {
  padding-top: 10pt;
}

.card .view {
  color: #151515;
}

.piece-page-whole {
  width: auto;
  height: 570pt;
  background-color: #151515;
  overflow: auto;
  color: #FBFCD4;
}

.piece-page-whole .pieceInfo {
  padding-left: 10pt;
}

.piece-page-whole .pieceInfo h5 {
  font-weight: bold;
}

.piece-page-whole .pieceImage {
  float: left;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 15pt;
  width: 60%;
  text-align: center;
}

.piece-page-whole .pieceImage img {
  width: 85%;
  margin-top: 20pt;
}

.piece-page-whole button {
  background-color: #FBC403;
  color: #151515;
  border-radius: 5pt;
}

.piece-page-whole .x {
  padding: 0pt 2pt;
  font-size: 12pt;
  margin-left: 5pt;
}

.piece-page-whole button:hover {
  color: #FFDD03;
}

.piece-page-whole .pieceInfo {
  margin-top: 20pt;
  width: 20%;
  float: left;
  text-align: center;
}

.piece-page-whole .comment-section {
  margin-top: 30pt;
}

.artists-page, .museums-page {
  background-color: #FFDD03;
  height: 550pt;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.artist-list-page, .museums-list-page {
  padding-top: 50pt;
  background-color: #151515;
  width: 50%;
  margin-left: 270pt;
  margin-top: 25pt;
  padding-bottom: 30pt;
  border-radius: 10pt;
  -webkit-box-shadow: 15px 15px #FBC403;
          box-shadow: 15px 15px #FBC403;
}

#artist-list, #museum-list {
  text-align: center;
  list-style: none;
  font-size: 20pt;
  font-weight: bold;
}

#artist-list a:hover, #museum-list a:hover {
  color: #FBC403;
}

.artist, .museum {
  color: #FBFCD4;
}

.artistPage, .museumPage {
  width: 20%;
  float: left;
  text-align: center;
  background-color: #151515;
}

.artistPage h1, .museumPage h1 {
  padding-top: 20pt;
}

.artistPiece, .museumPiece {
  float: left;
  width: 50%;
  text-align: center;
  color: #FBFCD4;
}

.artistPiece img, .museumPiece img {
  width: 85%;
  padding: 20pt;
}

.artistPiece h4, .museumPiece h4 {
  padding-top: 20pt;
}

#artist-piece-page, #museum-piece-page {
  width: auto;
  height: 550pt;
  background-color: #151515;
  overflow: auto;
  color: #FBFCD4;
}

#form {
  color: #FBFCD4;
  background-color: #FFDD03;
}

#form #form-page {
  display: inline-block;
  text-align: center;
  margin-left: 275pt;
  padding-left: 20pt;
  padding-right: 20pt;
  padding-bottom: 20pt;
  margin-bottom: 20pt;
  width: 50%;
  background-color: #151515;
  margin-top: 25pt;
  border-radius: 10pt;
  -webkit-box-shadow: 15px 15px #FBC403;
          box-shadow: 15px 15px #FBC403;
}

#form #form-page .form-submit {
  background-color: #FBC403;
  color: #151515;
}

#form #form-page button:hover {
  color: #FFDD03;
}

#form #form-page .btn {
  background-color: #FBC403;
  color: #151515;
  margin-left: 20pt;
}

#no-result {
  height: 400pt;
  text-align: center;
  color: #FBFCD4;
  width: 1090pt;
  font-size: 100pt;
  padding-top: 70pt;
}
/*# sourceMappingURL=App.css.map */