.App{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navyellow{
  background-color:gold;
}
.homePage{
 height:550pt;

}
.artworks{
  background-color:white;
}
.card{
  background-color:black;
  color:white;
}
.piecePage{
  /* text-align:center;
  align-items:center; */
  float:left;
  padding-top:0;
  margin-top:0;
  width:50%;
  text-align:center;
}

.piecePage img{
  width:85%;
}

.pieceInfo{
  margin-top:20pt;
  width:20%;
  float:left;
  text-align:center;
}

#form-page{
  width:50%;
}
#artist-index{
  width:50%;
  float:left;
}
#museum-index{
  width:50%;
  float:left;
}

.btn-dark{
  background-color:black;
}
#homeTitle{
  color:white;
  font-size:75pt;
}

#kusama-caption{
  text-align:right;
  color:white;
  font-size:15pt;
}

#artist-list{
  text-align:center;
  list-style:none;
  font-size:20pt;

}

#artistPage{
  width:20%;
  float:left;
  text-align:center;
}

#artistPiece img{
  width:85%;
}
#artistPiece{
  float:left;
  width:50%;
  text-align:center;
}
.artist{
  color:#707070;
}
.sort{
  color:#707070;
  text-align:center;
  font-size:13pt;
}

#sortBox{
  text-align:center;
}
.view{
  color:#606060;
}
.artists-page{
  background-color:black;
  height:550pt;
  
}

