.App{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homePage{
 height:500pt;

}
.artworks{
  background-color:black;
}
.piecePage{
  /* text-align:center;
  align-items:center; */
  float:left;
  padding-top:0;
  margin-top:0;
  width:50%;
  text-align:center;
}

.piecePage img{
  width:85%;
}

.pieceInfo{
  margin-top:20pt;
  width:20%;
  float:left;
  text-align:center;
}

#form-page{
  width:50%;
}
#artist-index{
  width:50%;
  float:left;
}
#museum-index{
  width:50%;
  float:left;
}

.btn-dark{
  background-color:black;
}
#homeTitle{
  color:white;
  font-size:75pt;
}

#kusama-caption{
  text-align:right;
  color:white;
  font-size:15pt;
}





